/* home.scss */
.mo-home {
  .mo-home-container {
    padding: 0 $padding $padding;
    margin-bottom: 55px;
  }
  .mo-pagination-container {
    width: 100%;
    height: 55px;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .mo-pagination-section {
      -webkit-flex: 1 0 0;
      flex: 1 0 0;
      color: $lightGrey;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &#mo-section-left {
        text-align: left;
      }
      &#mo-section-middle {
        text-align: center;
        font-size: 13px;
        -webkit-flex: 3 0 0;
        flex: 3 0 0;
      }
      &#mo-section-right {
        text-align: right;
      }
      &.inactive {
        color: $ghost;
      }
    }
    .mo-pagination-icon {
      font-size: 1.5em;
    }
    .mo-pagination-button {
      font-size: 14px;
      &#next {
        padding-right: 5px;
      }
      &#prev {
        padding-left: 5px;
      }
    }
  }
}
