.mo-footer-container {
  position: fixed;
  z-index: 10;
  bottom: -1px;
  width: 100%;
  height: 55px;
  background: #f27f53;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  .mo-footer-button {
    padding: 0 30px;
    color: $white2;
  }
}
