.mo-footer-container {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  height: 55px;
  background: #f27f53;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  .mo-footer-button {
    color: $white2;
    width: 75px;
    text-align: center;
  }
}
