.mo-header-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 55px;
  background: #eada7b;
  // background: #f6e6b4; /* Old browsers */
  // background: -moz-linear-gradient(left, #f6e6b4 0%, #2b2020 0%, #ed9017 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, #f6e6b4 0%,#2b2020 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, #f6e6b4 0%,#2b2020 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .mo-logo-container {
    text-align: center;
    line-height: 55px;
    display: block;
    width: 145px;
    margin: auto;
    .mo-logo-image {
      top: 5px;
      position: relative;
    }
    .mo-logo-text {
      display: inline-block;
      font-size: 20px;
      // color: $white2;
      color: #565656;
      font-family: 'Roboto', sans-serif;
    }
  }
  .mo-login-container {
    position: absolute;
    top: 12px;
    right: 12px;
    .mo-login-button {
      // color: $white2;
      color: #565656;
    }
  }
}
