@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Billabong.woff') format('woff');
}

.mo-header-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 55px;
  background: #f27f53;
  // background: #380600; /* Old browsers */
  // background: -moz-linear-gradient(left, #380600 1%, #c72200 59%, #c72200 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, #380600 1%,#c72200 59%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, #380600 1%,#c72200 59%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .mo-logo-container {
    text-align: center;
    line-height: 55px;
    display: block;
    width: 145px;
    margin: auto;
    .mo-logo-image {
      top: 5px;
      position: relative;
    }
    .mo-logo-text {
      display: inline-block;
      font-size: 24px;
      color: $white2;
      // color: #565656;
      font-family: 'Shadows Into Light', cursive;
    }
  }
  .mo-login-container {
    position: absolute;
    top: 12px;
    right: 12px;
    .mo-login-button {
      color: $white2;
      // color: #565656;
    }
  }
}
